
<section class="row">
    <style>
        html,
        body {
            height: 100%;
        }
        object {
            width: 100%;
            min-height: 100%;
        } 
        .siteloader{
            height: 500px !important;
        }
        .embed-responsive{
            position: static !important;
        }
        .w100p{
            width: 100% !important;
        }
        /* */

        @media screen and (min-width: 992px) {    
            .siteloader{

            } 
        }
    </style>
    <div class="col-12">
        <div class="col-xs-8 offset-xs-1 col-sm-8 offset-sm-1 col-md-4 offset-md-1" > 
            <button class="boton_20 t" style="z-index: 0;position: absolute"><a style="color: white" href="#!/home">cerrar chat</a></button>
        </div>
    </div>
    <div class="w100p">
        <div class="siteloader embed-responsive">
            <div id="siteloader"></div>
        </div>
    </div>
</section>
