
<section class="row">
    <style>
        html,
        body {
            height: 100%;
        }
        object {
            width: 100%;
            min-height: 100%;
        } 
        .siteloader{
            height: 500px !important;
        }
        .embed-responsive{
            position: static !important;
        }
        .w100p{
            width: 100% !important;
        }
        /* */

        @media screen and (min-width: 992px) {    
            .siteloader{

            } 
        }
    </style>
    <div class="w100p">
        <div class="siteloader embed-responsive">
            <div id="siteloader"></div>
        </div>
    </div>
</section>
