<div class="container-fluid">
  <div class="row">
    <ng-template #mymodalEnc let-modal>
      <div class="modal-body p-3 force-scroll" id="modal-body">
        <div class="column">
          <div class="modal-header d-flex align-items-center justify-content-end p-0 border-0"
            (click)="modal.close(mymodalEnc)">
            <img src="./assets/img/iconClose.png" class="cpointer" data-dismiss="modal" alt="" />
          </div>
          <div class="row col-md-12 m0 mb-4" *ngFor="let item of encuestas">
            <div class="col-md-8">
              <p class="m0 p0">{{ item.SurveyFor }}</p>
            </div>
            <div class="col-md-8">
              <p class="m0 p0">
                ID de petición: {{ item.Originating_Request_ID }}
              </p>
            </div>
            <div class="col-md-8">
              <p class="m0 p0">{{ item.Fecha }}</p>
            </div>
            <div class="col-md-12 force-center mt-1">
              <div class="col-md-5">
                <button type="button" (click)="surveyDetails(item)" accesskey="t"
                  class="btn btn-warning p-1 text-white w100p" style="font-size: inherit">
                  {{ item.showDetails ? "ocultar detalle" : "ver detalle" }}
                </button>
              </div>
            </div>
            <div class="col-md-12 text-center mt-2" [hidden]="item.showDetails">
              <p class="">{{ item.Case_Description }}</p>
            </div>
            <div class="col-md-12 text-center mt-3">
              <p class="fwb">¿La solución a tu solicitud fue satisfactoria?</p>
            </div>

            <div class="col-md-12 force-center" *ngIf="item.SelectedValue == null">
              <div class="p4 inner">
                <img src="./assets/img/encuestas/2.png" (click)="item.SelectedValue = 2" class="cpointer"
                  (mouseover)="item.Hover2 = true" (mouseleave)="item.Hover2 = false"
                  [ngClass]="{ w35: !item.Hover2, w45: item.Hover2 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/4.png" (click)="item.SelectedValue = 4" class="cpointer"
                  (mouseover)="item.Hover4 = true" (mouseleave)="item.Hover4 = false"
                  [ngClass]="{ w35: !item.Hover4, w45: item.Hover4 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/6.png" (click)="item.SelectedValue = 6" class="cpointer"
                  (mouseover)="item.Hover6 = true" (mouseleave)="item.Hover6 = false"
                  [ngClass]="{ w35: !item.Hover6, w45: item.Hover6 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/8.png" (click)="item.SelectedValue = 8" class="cpointer"
                  (mouseover)="item.Hover8 = true" (mouseleave)="item.Hover8 = false"
                  [ngClass]="{ w35: !item.Hover8, w45: item.Hover8 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/10.png" (click)="item.SelectedValue = 10" class="cpointer"
                  (mouseover)="item.Hover10 = true" (mouseleave)="item.Hover10 = false"
                  [ngClass]="{ w35: !item.Hover10, w45: item.Hover10 }" />
              </div>
            </div>

            <div class="col-md-12 force-center" [hidden]="item.SelectedValue == null">
              <div class="p4 inner">
                <img src="./assets/img/encuestas/2.png" *ngIf="item.SelectedValue == 2" class="w45" />
                <img src="./assets/img/encuestas/2-gris.png" [hidden]="item.SelectedValue == 2"
                  (click)="item.SelectedValue = 2" class="cpointer" (mouseover)="item.Hover2 = true"
                  (mouseleave)="item.Hover2 = false" [ngClass]="{ w35: !item.Hover2, w45: item.Hover2 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/4.png" *ngIf="item.SelectedValue == 4" class="w45" />
                <img src="./assets/img/encuestas/4-gris.png" [hidden]="item.SelectedValue == 4"
                  (click)="item.SelectedValue = 4" class="cpointer" (mouseover)="item.Hover4 = true"
                  (mouseleave)="item.Hover4 = false" [ngClass]="{ w35: !item.Hover4, w45: item.Hover4 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/6.png" *ngIf="item.SelectedValue == 6" class="w45" />
                <img src="./assets/img/encuestas/6-gris.png" [hidden]="item.SelectedValue == 6"
                  (click)="item.SelectedValue = 6" class="cpointer" (mouseover)="item.Hover6 = true"
                  (mouseleave)="item.Hover6 = false" [ngClass]="{ w35: !item.Hover6, w45: item.Hover6 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/8.png" *ngIf="item.SelectedValue == 8" class="w45" />
                <img src="./assets/img/encuestas/8-gris.png" [hidden]="item.SelectedValue == 8"
                  (click)="item.SelectedValue = 8" class="cpointer" (mouseover)="item.Hover8 = true"
                  (mouseleave)="item.Hover8 = false" [ngClass]="{ w35: !item.Hover8, w45: item.Hover8 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/10.png" *ngIf="item.SelectedValue == 10" class="w45" />
                <img src="./assets/img/encuestas/10-gris.png" [hidden]="item.SelectedValue == 10"
                  (click)="item.SelectedValue = 10" class="cpointer" (mouseover)="item.Hover8 = true"
                  (mouseleave)="item.Hover10 = false" [ngClass]="{ w35: !item.Hover10, w45: item.Hover10 }" />
              </div>
            </div>
            <div class="col-md-12 force-center mt-2" [hidden]="item.SelectedValue == null">
              <textarea class="form-control" [(ngModel)]="item.Comentario" placeholder="dejanos tu comentario"
                id="comentario" rows="3"></textarea>
            </div>
            <div class="col-md-12 force-center mt-1" [hidden]="item.SelectedValue == null">
              <div class="col-md-4">
                <button type="button" (click)="enviar(item)" class="btn btn-danger">
                  Enviar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #mymodal let-modal>
      <div class="modal-body">
        <div class="column align-self-center align-content-center text-center mt-2">
          <div class="modal-header d-flex align-items-center justify-content-end p-0 border-0"
            (click)="modal.close(mymodal)">
            <img src="./assets/img/iconClose.png" class="cpointer" data-dismiss="modal" alt="" />
          </div>
          <div class="btnoption inner w-50 text-center" accesskey="h" (click)="goToUsuMyIt()">
            <span class="h maletin inner"></span>
            <span class="inner ml-2">Usuario de MyIT</span>
          </div>
        </div>
        <div class="column align-self-center align-content-center text-center mt-4">
          <div class="btnoption inner w-50 text-center" accesskey="r" (click)="goToUsuRes()">
            <span class="h hombre inner"></span>
            <span class="inner ml-2">Usuario Resolutor</span>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #mymodalStore let-modal>
      <div class="modal-body p-3">
        <div class="column align-self-center align-content-center text-center mt-2">
          <div class="column mt-2">
            <h6 style="text-align: left">
              Ten en cuenta las siguientes recomendaciones
            </h6>
            <ul>
              <li style="text-align: left">
                La URL solo funciona con el Navegador Internet Explorer.
              </li>
              <li style="text-align: left">
                Esta URL solo está disponible para los usuarios directos de Claro
                y equipos propiedad de Claro.
              </li>
              <li style="text-align: left">
                MYIT Store solo está disponible para equipos de cómputo.
              </li>
              <li style="text-align: left">
                Para los usuarios y equipos de Hitss no está disponible.
              </li>
              <li style="text-align: left">
                Para los equipos de terceros, aliados y/o rentados la URL no está
                disponible.
              </li>
              <li style="text-align: left">
                Para los usuarios que usen equipos rentados la URL no está
                disponible.
              </li>
              <li style="text-align: left">
                Para los usuarios directos de claro que usan escritorios virtuales
                Citrix no está disponible.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" (click)="modal.close('Save click')" accesskey="g">
          Cancelar
        </button>
        <button class="btn btn-success" type="button" (click)="goToContinue(mymodalStore)" accesskey="p">
          Continuar
        </button>
      </div>
    </ng-template>

    <div class="col-12 p-0 d-none d-md-block">
      <div class="container-fluid conVista" ngSwitch="banner">
        <header class="header">
          <div style="height: auto" *ngIf="banners.length != 0">
            <ngb-carousel [interval]="infoUser.BannerTime">
              <ng-template *ngFor="let item of banners" ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="{{ item.ruta }}" class="img-fluid img-banner no-indicators" />
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <div style="height: auto" *ngIf="banners.length == 0">
            <div uib-carousel active="active" no-wrap="noWrapSlides">
              <div uib-slide index="0">
                <img src="./assets/img/default/1.jpg" class="img-fluid img-banner" />
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="row mt-0 mt-md-2">
    <div class="col-12" [hidden]="menu">
      <div class="container-fluid p-0">
        <div class="row h-100 position-fixed w-100 menu align-content-start">
          <div class="col-12 item-menu">
            {{ infoUser.First_Name }} {{ infoUser.Last_Name }}
            <img src="./assets/img/home/icon-man.png" class="ml-2" alt="" />
          </div>
          <div class="col-12 item-menu" (click)="getSurveys()" accesskey="y" *ngIf="!infoUser.esContingencia">
            Encuestas
            <img src="./assets/img/home/icn-encuestas-menu-lateral-responsive.png" class="ml-2" alt="" />
          </div>
          <div class="col-12 item-menu" (click)="cerrarsesion()" accesskey="c">
            Cerrar sesión
            <img src="./assets/img/home/icn-cerrar-sesi-n-menu-lateral-responsive.png" class="ml-2" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="w100p positionChat">
      <div class="siteloader embed-responsive">
        <div id="siteloader" [hidden]="!chatOpen"></div>
      </div>
    </div>
    <div class="col-md-4 col-12 pl-md-4 py-2" [ngStyle]="{ 'background-color': !menu ? '#dc3545' : 'none' }">
      <img src="./assets/img/home/icn-logo-my-it.png" alt="img-fluid" style="height: 70px" srcset="" />
      <img src="./assets/img/home/ICN_Menu.svg" class="float-right mt-4 d-block d-md-none" alt="" srcset="" *ngIf="menu"
        (click)="openMenu()" accesskey="m" />
      <img src="./assets/img/home/icon_menublanco.svg" class="float-right mt-4 d-block d-md-none" alt="" srcset=""
        *ngIf="!menu" (click)="openMenu()" accesskey="m" />
    </div>

    <div class="col-12 d-block d-md-none mt-3" style="box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)">
      <div class="conatiner-fluid p-0">
        <div class="row">
          <div class="col-6">
            <img src="./assets/img/home/img-home.png" class="img-fluid" alt="" />
          </div>
          <div class="col-8 position-absolute mt-4" style="right: 0">
            <div class="btnanita" [hidden]="!chatOpen" [hidden]="!menu">
              <img src="./assets/img/home/anita.png" class="ml-2 cpointer float" alt="" (click)="abrirChat()"
                accesskey="a" />
            </div>
            <div class="col-12 text-center" style="font-weight: 500">
              <p class="m-0 title-home" style="font-size: 14px; line-height: 14px">
                Las herramientas de gestión de la mesa de servicios
              </p>
              <p class="title-red mb-4" style="font-size: 20px; line-height: 25px">
                MÁS CERCA DE TI
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btnanita" style="z-index: 9999">
      <img src="./assets/img/home/anita.png" class="ml-2 cpointer float" alt="" *ngIf="!chatOpen" (click)="abrirChat()"
        accesskey="a" />

      <!-- Inicio ChatBOT -->
      <div class="ml-auto cpointer float ng-star-inserted"
        style="left: 60px; top: 13%; position: fixed; background-color: #ffffff; border: 1px solid #ccc; padding: 10px; width: 33%; height: 65%;"
        *ngIf="mostrarChat">

        <!-- Header -->
        <div class="header"
          style="margin-bottom: 10px; background-color: #da1024; color: white; padding: 7px; display: flex; justify-content: space-between; align-items: center; position: relative; left: -5.8%; top: -10px; width: 108.5%;">
          <!-- Título "AnITa" a la izquierda -->
          <h2 style="margin-right: 10px; text-align: left; margin: 0;"> &nbsp; AnITa</h2>
          <!-- Botón de Cerrar con icono "x" a la derecha -->
          <button (click)="cerrarChatInHouse()"
            style="background-color: transparent; border: none; color: white; font-size: 16px; cursor: pointer;">
            <span style="font-weight: bold; font-size: 20px; text-align: right;">X</span>
          </button>
        </div>

        <!-- Content -->
        <div style="display: flex; flex-direction: column; height: 100%;">
          <div style="overflow: auto; max-height: none;">
            <!-- Inicio de conversacion -->
            <div>
              <!-- Mensaje 1 Anita-->
              <div class="contenido"
                style="position: relative; padding: 10px; border-radius: 10px; background-color: #e0e0e0;">
                <p style="margin: 0;"><strong>AnITa:</strong> Hola {{ infoUser.First_Name }}, soy AnITa. Cuentamé, ¿En
                  qué te puedo ayudar?</p>
              </div>
              <br />
              <!-- Mensaje 2  Anita -->
              <div class="contenido"
                style="position: relative; padding: 10px; border-radius: 10px; background-color: #e0e0e0;">
                <p style="margin: 0;"><strong>AnITa:</strong> Selecciona una opción:
                  <br />
                  <span style="color: blue;">&bull; &nbsp;</span> <a (click)="consultarCaso()"
                    style="text-decoration: underline; color: blue;">Consultar o crear caso de MyIT</a>
                </p>
              </div>
              <br />
              <!-- Mensaje User 1-->
              <div class="contenido" *ngIf="consultarOcrearCaso"
                style="position: relative; padding: 10px; border-radius: 10px; background-color: #ff383f">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> Consultar o crear caso de MyIT
                </p>
              </div>
              <br />

              <!-- Mensaje 4 Anita (Consultar o Crear Caso) -->
              <div class="contenido" *ngIf="consultaCaso"
                style="position: relative; padding: 10px; border-radius: 10px; background-color: #e0e0e0; overflow: auto;">
                <p style="margin: 0;"><strong>AnITa:</strong> Selecciona el tipo de caso que quieres consultar:
                  <br />
                  <span (click)="SearchReq()" style="color: blue;">&bull; &nbsp;</span> <a (click)="SearchReq()"
                    style="text-decoration: underline; color: blue;">REQ -
                    Requerimiento</a>
                  <br />
                  <span style="color: blue;">&bull; &nbsp;</span> <a
                    style="text-decoration: underline; color: blue;">INC -
                    Incidente</a>
                  <br />
                  <span style="color: blue;">&bull; &nbsp;</span> <a style="text-decoration: underline; color: blue;">WO
                    -
                    Orden de trabajo</a>
                  <br />
                  <span style="color: blue;">&bull; &nbsp;</span> <a
                    style="text-decoration: underline; color: blue;">Histórico
                    de mis casos</a>
                </p>
              </div>

              <br />
              <!-- Mensaje 5 Anita (Cartilla) -->
              <div class="contenido" *ngIf="consultaCaso"
                style="position: relative; padding: 10px; border-radius: 10px; background-color: #e0e0e0; overflow: auto;">
                <p style="margin: 0;"><strong>AnITa:</strong> Nota: Si aún no sabes cómo consultar un caso, descarga la
                  cartilla haciendo click <a
                    href="https://static-or01.inbenta.com/e3d52cc744f1828a9937b9b1ab54d2ef4b76f18b247b14dab3a61c4a2c031dff/Cartilla%20Consulta%20de%20Casos%20en%20AnITa-comprimido.pdf"
                    style="text-decoration: underline; color: blue; " target="_blank">aquí</a> y sigue los pasos.
                  <br />
                </p>
              </div>

              <br />

              <!-- Mensaje 2 User (Si se selecciona consultar Requerimiento) -->
              <div class="contenido" *ngIf="selectReq"
                style="position: relative; padding: 10px; border-radius: 10px; background-color: #ff383f">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> REQ - Requerimiento
                </p>
              </div>
              <br />


              <!-- Mensaje 6 Anita (Si se selecciona consultar Requerimiento)-->
              <div class="contenido" *ngIf="selectReq"
                style="position: relative; padding: 10px; border-radius: 10px; background-color: #e0e0e0;">
                <p style="margin: 0;"><strong>AnITa:</strong> Para conocer el estado de tu caso digita el código 👇</p>
              </div>
              <br />

              <!-- Mensaje 3 User (Numero de requerimiento) -->
              <div class="contenido" *ngIf="selectReq && numeroRequerimientoIngresado"
                style="position: relative; padding: 10px; border-radius: 10px; background-color: #ff383f">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> {{ numeroRequerimientoIngresado }}
                </p>
              </div>

              <!-- Mensaje 7 Anita (Respuesta del numero de requerimiento)-->
              <div *ngIf="selectReq">
                <!-- Contenido si selecciona REQ requerimiento -->
                <br />
                <div *ngIf="Request_Number" class="contenido"
                  style="position: relative; padding: 10px; border-radius: 10px; background-color: #e0e0e0; overflow: auto;">
                  <p style="margin: 0;"><strong>AnITa:</strong>
                    Descripción del requerimiento:
                    <br />
                    <strong>No. de requerimiento:</strong> {{ Request_Number }}
                    <br />
                    <strong>No. de incidente / solicitud:</strong> {{ AppRequestID }}
                    <br />
                    <strong>Estado:</strong> {{ Status }}
                    <br />
                    <strong>Descripción del requerimiento:</strong> {{ Summary }}
                    <br />
                    <strong>Fecha de creación:</strong> {{ Submit_Date | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong>Fecha de soluón:</strong> {{ Completion_Date | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <br />
                    <strong>Descripción del Incidente / Solicitud:</strong>
                    <br />
                    <strong>No. de INC / WO:</strong> {{ AppRequestID }}
                    <br />
                    <strong>Estado:</strong> {{ statusIncidente }}
                    <br />
                    <strong>Descripción:</strong> {{ descripcionIncidente }}
                    <br />
                    <strong>Fecha de creación:</strong> {{ fechaCreacionIncidente | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                  </p>
                  <div class="descripcion-detallada">
                    <strong>Descripción detallada:</strong> {{ descripcionIncidenteDetallada }}
                  </div>
                  <br />
                  <div *ngIf="!fechaNotaInc1" class="loading-dots">Cargando notas...</div>     
                  <br />   
                  <p *ngIf="fechaNotaInc1" style="margin: 0;">
                    <strong>Notas del Incidente / Solicitud:</strong>
                    <br />
                    <strong>Fecha de la nota:</strong> {{ fechaNotaInc1 | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong>Información:</strong> {{ descriptionInc1 }}
                    <br />
                    <br />
                    <strong>Fecha de la nota:</strong> {{ fechaNotaInc2 | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong>Información:</strong> {{ descriptionInc2 }}
                    <br />
                    <br />
                    <strong>Fecha de la nota:</strong> {{ fechaNotaInc3 | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong>Información:</strong> {{ descriptionInc3 }}
                    <br />
                    <br />
                  </p>
                  <button>Agregar Nota</button>
                  <br />
                  <br />
                  <p *ngIf="resolution" style="margin: 0;">
                    <strong>Solución del Incidente / Solicitud:</strong>
                    <br />
                    <strong>Fecha de solución:</strong> {{ fechaResolution | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong>Solución del Incidente / Solicitud:</strong> {{ resolution }}
                    <br />
                  </p>
                </div>
                <br />
              </div>
              <button *ngIf="Request_Number" (click)="resetChat()">Volver</button>
              <br />
              <br />
              <br />
              <br />
              <br />

            </div>
          </div>
        </div>

        <!-- AnITa Foto inicial -->
        <div
          style="left: 50.5%; top: 13%; position: fixed; background-color: white; border: 1px solid #ccc; padding: 0px; width: 15%; height: 65% "
          *ngIf="mostrarChat">
          <img src="./assets/img/home/Saludando.png" class="ml-2" alt=""
            style="width: 90%; position: relative; left: -10px; top: -9px; max-height: 100%; width: auto; height: auto;" />
        </div>

        <!-- input inicial -->
        <div class="ml-auto cpointer float ng-star-inserted"
          style="left: 61px; top: 77.9%; position: fixed; background-color: white; border: 1px solid #ccc; padding: 10px; width: 47.5%;"
          *ngIf="mostrarChat">
          <div>
            <input type="text" placeholder="Pregunta aquí..."
              style="width: 100%; height: 50px; border: 2px solid #ffffff;">
          </div>
        </div>

        <!-- input si selecciona REQ requerimiento -->
        <form [formGroup]="numberRequerimiento" (ngSubmit)="consultarReq()">
          <div *ngIf="selectReq && mostrarChat" class="ml-auto cpointer float ng-star-inserted"
            style="left: 61px; top: 77.9%; position: fixed; background-color: white; border: 1px solid #ccc; padding: 10px; width: 47.5%; ">
            <div>
              <input type="text" [(ngModel)]="numeroRequerimiento"
                placeholder="Escribe el número de REQ - Requerimiento..."
                style="width: 100%; height: 50px; border: 2px solid #ffffff;" formControlName="reqNumber">
              <button (click)="consultarReq()">Consultar Requerimiento</button>
            </div>
          </div>
        </form>

      </div>
    </div>
    <!-- Fin Chatbot -->
    <div class="col-md-8 col-12 align-self-center text-right pr-4 d-none d-md-block">
      <div class="btnencuestas d-inline-block ml-2" accesskey="y" (click)="abrirChatInHouse()">
        Consulta de casos
        <img src="./assets/img/home/icn-encuentas.png" class="ml-2" alt="" />
      </div>
      <div class="btnencuestas d-inline-block ml-2" (click)="getSurveys()" accesskey="y"
        *ngIf="!infoUser.esContingencia">
        Encuestas
        <img src="./assets/img/home/icn-encuentas.png" class="ml-2" alt="" />
      </div>
      <span class="ml-4">{{ infoUser.First_Name }} {{ infoUser.Last_Name }}</span>
      <img src="./assets/img/home/icn-cerrar-sesi-n.png" (click)="cerrarsesion()" class="ml-2 cpointer" alt=""
        accesskey="c" />
    </div>
    <div class="col-12">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-md-5 col-12 d-none d-md-block pl-0">
            <div style="height: auto" *ngIf="avatars.length != 0">
              <ngb-carousel [interval]="infoUser.AvatarTime">
                <ng-template *ngFor="let item of avatars" ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="{{ item.imagen }}" class="img-fluid" style="width: 470px !important; object-fit: cover" />
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
            <div style="height: auto" *ngIf="avatars.length == 0">
              <div uib-carousel active="active" no-wrap="noWrapSlides">
                <div uib-slide index="0">
                  <img src="./assets/img/home/img-home.png" class="img-fluid" alt=""
                    style="width: 470px !important; object-fit: cover" />
                </div>
              </div>
            </div>

            <div class="derechos col-12 text-center p-2" style="z-index: -1; background-color: #da1024">
              <br />
            </div>
          </div>
          <div class="derechos col-md-7 col-12 text-center p-2 d-none d-md-block"
            style="z-index: -1; background-color: #da1024">
            Claro Colombia 2023. Todos los derechos reservados
          </div>
          <div class="col-md-7 col-12 mt-5">
            <div class="container-fluid p-0">
              <div class="row">
                <div class="col-md-7 offset-md-1 text-center d-none d-md-block" style="font-weight: 500">
                  <p class="m-0 title-home">
                    Las herramientas de gestión de la mesa de servicios
                  </p>
                  <p class="title-red mb-4">MÁS CERCA DE TI</p>
                </div>
                <div class="col-md-7 offset-md-1 mt-4 mb-4">
                  <div class="container-fluid">
                    <div class="row justify-content-around">
                      <div class="col-md-5 p10 col-10 box-my text-center cpointer" (click)="open(mymodal)"
                        accesskey="i">
                        <img src="./assets/img/home/img-pcdesktop.png" alt="" style="width: 100px" />
                        <p class="font-weight-bold my-1">
                          My<span style="color: #dc3545">IT</span>
                        </p>
                        <p class="mt-2">
                          Con MyIT reporta tus casos de manera sencilla. Registra y
                          consulta tus casos asociados a servicios de IT.
                        </p>
                      </div>
                      <div class="col-md-5 p10 col-10 box-my text-center mt-3 mt-md-0 cpointer"
                        (click)="open(mymodalStore)" accesskey="s">
                        <img src="./assets/img/home/icon-store.png" alt="" style="width: 100px" />
                        <p class="font-weight-bold my-1">
                          MyIT <span style="color: #dc3545">Store</span>
                        </p>
                        <p class="mt-2">
                          Ingresa a la tienda desde un navegador Internet Explorer.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>