<div class="container-fluid">
  <div class="row">
    <ng-template #mymodalEnc let-modal>
      <div class="modal-body p-3 force-scroll" id="modal-body">
        <div class="column">
          <div class="modal-header d-flex align-items-center justify-content-end p-0 border-0"
            (click)="modal.close(mymodalEnc)">
            <img src="./assets/img/iconClose.png" class="cpointer" data-dismiss="modal" alt="" />
          </div>
          <div class="row col-md-12 m0 mb-4" *ngFor="let item of encuestas">
            <div class="col-md-8">
              <p class="m0 p0">{{ item.SurveyFor }}</p>
            </div>
            <div class="col-md-8">
              <p class="m0 p0">
                ID de petición: {{ item.Originating_Request_ID }}
              </p>
            </div>
            <div class="col-md-8">
              <p class="m0 p0">{{ item.Fecha }}</p>
            </div>
            <div class="col-md-12 force-center mt-1">
              <div class="col-md-5">
                <button type="button" (click)="surveyDetails(item)" accesskey="t"
                  class="btn btn-warning p-1 text-white w100p" style="font-size: inherit">
                  {{ item.showDetails ? "ocultar detalle" : "ver detalle" }}
                </button>
              </div>
            </div>
            <div class="col-md-12 text-center mt-2" [hidden]="item.showDetails">
              <p class="">{{ item.Case_Description }}</p>
            </div>
            <div class="col-md-12 text-center mt-3">
              <p class="fwb">¿La solución a tu solicitud fue satisfactoria?</p>
            </div>

            <div class="col-md-12 force-center" *ngIf="item.SelectedValue == null">
              <div class="p4 inner">
                <img src="./assets/img/encuestas/2.png" (click)="item.SelectedValue = 2" class="cpointer"
                  (mouseover)="item.Hover2 = true" (mouseleave)="item.Hover2 = false"
                  [ngClass]="{ w35: !item.Hover2, w45: item.Hover2 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/4.png" (click)="item.SelectedValue = 4" class="cpointer"
                  (mouseover)="item.Hover4 = true" (mouseleave)="item.Hover4 = false"
                  [ngClass]="{ w35: !item.Hover4, w45: item.Hover4 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/6.png" (click)="item.SelectedValue = 6" class="cpointer"
                  (mouseover)="item.Hover6 = true" (mouseleave)="item.Hover6 = false"
                  [ngClass]="{ w35: !item.Hover6, w45: item.Hover6 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/8.png" (click)="item.SelectedValue = 8" class="cpointer"
                  (mouseover)="item.Hover8 = true" (mouseleave)="item.Hover8 = false"
                  [ngClass]="{ w35: !item.Hover8, w45: item.Hover8 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/10.png" (click)="item.SelectedValue = 10" class="cpointer"
                  (mouseover)="item.Hover10 = true" (mouseleave)="item.Hover10 = false"
                  [ngClass]="{ w35: !item.Hover10, w45: item.Hover10 }" />
              </div>
            </div>

            <div class="col-md-12 force-center" [hidden]="item.SelectedValue == null">
              <div class="p4 inner">
                <img src="./assets/img/encuestas/2.png" *ngIf="item.SelectedValue == 2" class="w45" />
                <img src="./assets/img/encuestas/2-gris.png" [hidden]="item.SelectedValue == 2"
                  (click)="item.SelectedValue = 2" class="cpointer" (mouseover)="item.Hover2 = true"
                  (mouseleave)="item.Hover2 = false" [ngClass]="{ w35: !item.Hover2, w45: item.Hover2 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/4.png" *ngIf="item.SelectedValue == 4" class="w45" />
                <img src="./assets/img/encuestas/4-gris.png" [hidden]="item.SelectedValue == 4"
                  (click)="item.SelectedValue = 4" class="cpointer" (mouseover)="item.Hover4 = true"
                  (mouseleave)="item.Hover4 = false" [ngClass]="{ w35: !item.Hover4, w45: item.Hover4 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/6.png" *ngIf="item.SelectedValue == 6" class="w45" />
                <img src="./assets/img/encuestas/6-gris.png" [hidden]="item.SelectedValue == 6"
                  (click)="item.SelectedValue = 6" class="cpointer" (mouseover)="item.Hover6 = true"
                  (mouseleave)="item.Hover6 = false" [ngClass]="{ w35: !item.Hover6, w45: item.Hover6 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/8.png" *ngIf="item.SelectedValue == 8" class="w45" />
                <img src="./assets/img/encuestas/8-gris.png" [hidden]="item.SelectedValue == 8"
                  (click)="item.SelectedValue = 8" class="cpointer" (mouseover)="item.Hover8 = true"
                  (mouseleave)="item.Hover8 = false" [ngClass]="{ w35: !item.Hover8, w45: item.Hover8 }" />
              </div>
              <div class="p4 inner">
                <img src="./assets/img/encuestas/10.png" *ngIf="item.SelectedValue == 10" class="w45" />
                <img src="./assets/img/encuestas/10-gris.png" [hidden]="item.SelectedValue == 10"
                  (click)="item.SelectedValue = 10" class="cpointer" (mouseover)="item.Hover8 = true"
                  (mouseleave)="item.Hover10 = false" [ngClass]="{ w35: !item.Hover10, w45: item.Hover10 }" />
              </div>
            </div>
            <div class="col-md-12 force-center mt-2" [hidden]="item.SelectedValue == null">
              <textarea class="form-control" [(ngModel)]="item.Comentario" placeholder="dejanos tu comentario"
                id="comentario" rows="3"></textarea>
            </div>
            <div class="col-md-12 force-center mt-1" [hidden]="item.SelectedValue == null">
              <div class="col-md-4">
                <button type="button" (click)="enviar(item)" class="btn btn-danger">
                  ➤
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #mymodal let-modal>
      <div class="modal-body">
        <div class="column align-self-center align-content-center text-center mt-2">
          <div class="modal-header d-flex align-items-center justify-content-end p-0 border-0"
            (click)="modal.close(mymodal)">
            <img src="./assets/img/iconClose.png" class="cpointer" data-dismiss="modal" alt="" />
          </div>
          <div class="btnoption inner w-50 text-center" accesskey="h" (click)="goToUsuMyIt()">
            <span class="h maletin inner"></span>
            <span class="inner ml-2">Usuario de MyIT</span>
          </div>
        </div>
        <div class="column align-self-center align-content-center text-center mt-4">
          <div class="btnoption inner w-50 text-center" accesskey="r" (click)="goToUsuRes()">
            <span class="h hombre inner"></span>
            <span class="inner ml-2">Usuario Resolutor</span>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #mymodalStore let-modal>
      <div class="modal-body p-3">
        <div class="column align-self-center align-content-center text-center mt-2">
          <div class="column mt-2">
            <h6 style="text-align: left">
              Ten en cuenta las siguientes recomendaciones
            </h6>
            <ul>
              <li style="text-align: left">
                La URL solo funciona con el Navegador Internet Explorer.
              </li>
              <li style="text-align: left">
                Esta URL solo está disponible para los usuarios directos de Claro
                y equipos propiedad de Claro.
              </li>
              <li style="text-align: left">
                Mesa Store solo está disponible para equipos de cómputo.
              </li>
              <li style="text-align: left">
                Para los usuarios y equipos de Hitss no está disponible.
              </li>
              <li style="text-align: left">
                Para los equipos de terceros, aliados y/o rentados la URL no está
                disponible.
              </li>
              <li style="text-align: left">
                Para los usuarios que usen equipos rentados la URL no está
                disponible.
              </li>
              <li style="text-align: left">
                Para los usuarios directos de claro que usan escritorios virtuales
                Citrix no está disponible.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" (click)="modal.close('Save click')" accesskey="g">
          Cancelar
        </button>
        <button class="btn btn-success" type="button" (click)="goToContinue(mymodalStore)" accesskey="p">
          Continuar
        </button>
      </div>
    </ng-template>

    <div class="col-12 p-0 d-none d-md-block">
      <div class="container-fluid conVista" ngSwitch="banner">
        <header class="header">
          <div style="height: auto" *ngIf="banners.length != 0">
            <ngb-carousel [interval]="infoUser.BannerTime">
              <ng-template *ngFor="let item of banners" ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="{{ item.ruta }}" class="img-fluid img-banner no-indicators" />
                </div>
              </ng-template>
            </ngb-carousel>
          </div>
          <div style="height: auto" *ngIf="banners.length == 0">
            <div uib-carousel active="active" no-wrap="noWrapSlides">
              <div uib-slide index="0">
                <img src="./assets/img/default/1.jpg" class="img-fluid img-banner" />
              </div>
            </div>
          </div>
        </header>
      </div>
    </div>
  </div>
  <div class="row mt-0 mt-md-2">
    <div class="col-12" [hidden]="menu">
      <div class="container-fluid p-0">
        <div class="row h-100 position-fixed w-100 menu align-content-start">
          <div class="col-12 item-menu">
            {{ infoUser.First_Name }} {{ infoUser.Last_Name }}
            <img src="./assets/img/home/icon-man.png" class="ml-2" alt="" />
          </div>
          <div class="col-12 item-menu" (click)="getSurveys()" accesskey="y" *ngIf="!infoUser.esContingencia">
            Encuestas
            <img src="./assets/img/home/icn-encuestas-menu-lateral-responsive.png" class="ml-2" alt="" />
          </div>
          <div class="col-12 item-menu" (click)="cerrarsesion()" accesskey="c">
            Cerrar sesión
            <img src="./assets/img/home/icn-cerrar-sesi-n-menu-lateral-responsive.png" class="ml-2" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="w100p positionChat">
      <div class="siteloader embed-responsive">
        <div id="siteloader" [hidden]="!chatOpen"></div>
      </div>
    </div>
    <div class="col-md-4 col-12 pl-md-4 py-2" [ngStyle]="{ 'background-color': !menu ? '#dc3545' : 'none' }">
      <img src="./assets/img/home/icn-logo-my-it.png" alt="img-fluid" style="height: 70px" srcset="" />
      <img src="./assets/img/home/ICN_Menu.svg" class="float-right mt-4 d-block d-md-none" alt="" srcset="" *ngIf="menu"
        (click)="openMenu()" accesskey="m" />
      <img src="./assets/img/home/icon_menublanco.svg" class="float-right mt-4 d-block d-md-none" alt="" srcset=""
        *ngIf="!menu" (click)="openMenu()" accesskey="m" />
    </div>

    <div class="col-12 d-block d-md-none mt-3" style="box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16)">
      <div class="conatiner-fluid p-0">
        <div class="row">
          <div class="col-6">
            <img src="./assets/img/home/img-home.png" class="img-fluid" alt="" />
          </div>
          <div class="col-8 position-absolute mt-4" style="right: 0">

            <div class="btnanita" [hidden]="!chatOpen && esContingenciaChatbot" [hidden]="!menu">
              <img src="./assets/img/home/anita.png" class="ml-2 cpointer float" alt="" (click)="validarConsulta()"
                accesskey="a" />
            </div>

            <div class="btnanita" [hidden]="!chatOpen && !esContingenciaChatbot" [hidden]="!menu">
              <img src="./assets/img/home/anita.png" class="ml-2 cpointer float" alt="" (click)="abrirChat()"
                accesskey="a" />
            </div>

            <div class="col-12 text-center" style="font-weight: 500">
              <p class="m-0 title-home" style="font-size: 14px; line-height: 14px">
                Las herramientas de gestión de la mesa de servicios
              </p>
              <p class="title-red mb-4" style="font-size: 20px; line-height: 25px">
                MÁS CERCA DE TI
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btnanita" style="z-index: 9999">

    <img  src="./assets/img/home/anita.png" class="ml-2 cpointer float" alt="" *ngIf="!chatOpen && esContingenciaChatbot" (click)="validarConsulta()"
        accesskey="a" /> 
     
    <img src="./assets/img/home/anita.png" class="ml-2 cpointer float" alt="" *ngIf="!chatOpen && !esContingenciaChatbot" (click)="abrirChat()"
        accesskey="a" />

        <div class="validar-container" *ngIf="validarConsultaDeCaso">
          <div class="validar-header">
            ¿Estás aquí para consultar un caso?<br><br>
            <button (click)="abrirChatInHouse()">Sí</button>
            <button (click)="abrirChat()">No</button>
          </div>
        </div>

      <!-- Inicio ChatBOT -->
      <div class="chatbot-container" *ngIf="mostrarChat">

        <!-- Header -->
        <div #header class="chatbot-header">
          <h2 class="chatbot-title"> &nbsp; Mesa Ágil</h2>
          <button  class="chatbot-minize-btn" (click)="toggleMinimizar()" >-</button>
          <button class="chatbot-close-btn" (click)="cerrarChatInHouse()">X</button>
        </div>      

        <!-- Content -->
        <div #chat class="chatbot-content"  >
          <div class="chatbot-messages">

            <!-- Inicio de conversacion -->
            <div>
              <!-- Mensaje 1 Anita-->
              <div class="chatbot-message anita-message">
                <p><strong>Mesa Ágil:</strong> Hola {{ infoUser.First_Name }}, ¿En qué te puedo ayudar?</p>
              </div>

              <!-- Mensaje 2  Anita -->
              <div class="chatbot-message anita-message">
                <p><strong>Mesa Ágil:</strong> Selecciona una opción:
                </p>
                <h6 class="chatbot-link" (click)="consultarCaso(); resetInfo();">Consultar caso de MyIT</h6>
              </div>

              <!-- Mensaje User 1-->
              <div *ngIf="consultarOcrearCaso" class="chatbot-message user-message">
                <p><strong>{{ infoUser.First_Name }}:</strong> Consultar o crear caso de MyIT</p>
              </div>

              <!-- Mensaje 4 Anita (Consultar o Crear Caso) -->
              <div *ngIf="consultaCaso" class="chatbot-message anita-message">
                <p>
                  <strong>Mesa Ágil:</strong> Selecciona el tipo de caso que quieres consultar:
                </p>
                <h6 disabled="!(selectReq && !selectInc && !selectWo && !selectHc)"
                (click)="SearchReq(); resetInfo();" class="chatbot-link">REQ - Requerimiento</h6>
                <h6 (click)="SearchInc(); resetInfo();" class="chatbot-link">INC - Incidente</h6>
                <h6 (click)="SearchWo(); resetInfo();" class="chatbot-link">WO - Orden de trabajo</h6>
                <h6 (click)="SearchHC(); resetInfo();" class="chatbot-link">Histórico de mis casos</h6>
              </div>

              <!-- Mensaje 2 User (Si se selecciona consultar Requerimiento) -->
              <div class="chatbot-message user-message" *ngIf="selectReq && !selectInc && !selectWo && !selectHc">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> REQ - Requerimiento
                </p>
              </div>
              <!-- Mensaje 2 User (Si se selecciona consultar Incidente) -->
              <div class="chatbot-message user-message" *ngIf="!selectReq && selectInc && !selectWo && !selectHc">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> INC - Incidente
                </p>
              </div>
              <!-- Mensaje 2 User (Si se selecciona consultar WO) -->
              <div class="chatbot-message user-message" *ngIf="!selectReq && !selectInc && selectWo && !selectHc">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> WO - Orden de trabajo
                </p>
              </div>
              <!-- Mensaje 2 User (Si se selecciona Historico Casos ) -->
              <div class="chatbot-message user-message" *ngIf="!selectReq && !selectInc && !selectWo && selectHc">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> Histórico de mis casos
                </p>
              </div>

              <!-- Mensaje 6 Anita (Si se selecciona consultar historico)-->
              <div class="chatbot-message anita-message" *ngIf="selectHc">
                <p style="margin: 0;"><strong>Mesa Ágil:</strong> Por favor espera un momento mientras revisamos tus
                  casos.
                  Si quieres consultar el detalle de un caso específico, copia el número, regresa al menú y sigue las
                  instrucciones.</p>
              </div>

              <!-- Mensaje 6 Anita (Si se selecciona Consulta req, wo o inc)-->
              <div class="chatbot-message anita-message" *ngIf="selectReq || selectInc || selectWo">
                <p style="margin: 0;"><strong>Mesa Ágil:</strong> Para conocer el estado de tu caso digita todo el código (Ejemplo: REQ00000XXXXXXX, WO000000XXXXXXX o INC00000XXXXXX) 👇
                </p>
              </div>

              <!-- Mensaje 3 User (Numero de REQ) -->
              <div class="chatbot-message user-message" *ngIf="selectReq && numeroRequerimientoIngresado">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> {{ numeroRequerimientoIngresado }}
                </p>
              </div>

              <!-- Mensaje 3 User (Numero de INC) -->
              <div class="chatbot-message user-message" *ngIf="selectInc && numeroIncIngresado">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> {{ numeroIncIngresado }}
                </p>
              </div>

              <!-- Mensaje 3 User (Numero de WO) -->
              <div class="chatbot-message user-message" *ngIf="selectWo && numeroWoIngresado">
                <p style="margin: 0;"><strong>{{ infoUser.First_Name }}:</strong> {{ numeroWoIngresado }}
                </p>
              </div>


              <!-- Mensaje 7 Anita (Respuesta del numero de requerimiento)-->
              <div *ngIf="selectReq || selectInc || selectWo">
                <!-- Contenido si selecciona REQ requerimiento -->
                <div *ngIf="Request_Number" class="chatbot-message anita-message">
                  <p style="margin: 0;"><strong>Mesa Ágil:</strong>
                    Descripción del requerimiento:
                    <br />
                    <strong class="title-chat" >No. de requerimiento:</strong> {{ Request_Number }}
                    <br />
                    <strong class="title-chat" >No. de incidente / solicitud:</strong> {{ AppRequestID }}
                    <br />
                    <strong class="title-chat" >Estado:</strong> {{ Status }}
                    <br />
                    <strong class="title-chat">Descripción del requerimiento:</strong> {{ Summary }}
                    <br />
                    <strong class="title-chat" >Fecha de creación:</strong> {{ Submit_Date | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong class="title-chat" >Fecha de solución:</strong> {{ Closed_Date | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <br />
                    <strong class="title-chat" >Descripción del Incidente / Solicitud:</strong> {{ Summary }}
                    <br />
                    <strong class="title-chat" >No. de INC / WO:</strong> {{ AppRequestID }}
                    <br />
                    <strong class="title-chat" >Estado:</strong> {{ statusIncidente }}
                    <br />
                    <strong class="title-chat" >Descripción:</strong> {{ descripcionIncidente }}
                    <br />
                    <strong class="title-chat" >Fecha de creación:</strong> {{ fechaCreacionIncidente |
                    date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                  </p>
                  <div class="descripcion-detallada">
                    <strong class="title-chat">Descripción detallada:</strong> {{ descripcionIncidenteDetallada }}
                  </div>
                  <br />
                  <div *ngIf="(!fechaNotaInc1 || WO_Number !== null) && (![1, 2, 0].includes(numeroNotas))" class="loading-dots">Cargando notas...</div>
                  <br *ngIf="(!fechaNotaInc1 || WO_Number !== null) && (![1, 2, 0].includes(numeroNotas))" />
                  <p *ngIf="fechaNotaInc1" style="margin: 0;">
                    <strong class="title-chat">Notas del Incidente / Solicitud:</strong>
                    <br />
                    <strong class="title-chat" *ngIf="this.numeroNotas > 2">Fecha de la nota:</strong> {{ fechaNotaInc3 | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br /> 
                    <strong class="title-chat" *ngIf="this.numeroNotas > 2">Información:</strong> {{ descriptionInc3 }}
                      <br />
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 1">Fecha de la nota:</strong> {{ fechaNotaInc2 | date:'yyyy-MM-dd HH:mm:ss' }}
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 1">Información:</strong> {{ descriptionInc2 }}
                      <br />
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 0">Fecha de la nota:</strong> {{ fechaNotaInc1 | date:'yyyy-MM-dd HH:mm:ss' }}
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 0">Información:</strong> {{ descriptionInc1 }}
                  </p>
                  <br />
                  <button *ngIf="fechaNotaInc1" (click)="dialogoCrearNota(statusIncidente)">Agregar Nota</button>
                  <br />
                  <br />
                  <p *ngIf="resolution" style="margin: 0;">
                    <strong class="title-chat">Solución del Incidente / Solicitud:</strong>
                    <br />
                    <strong class="title-chat">Fecha de solución:</strong> {{ fechaResolution | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong class="title-chat">Solución del Incidente / Solicitud:</strong> {{ resolution }}
                    <br />
                  </p>
                </div>

                <div *ngIf="Incident_Number" class="chatbot-message anita-message">
                  <p style="margin: 0;"><strong>Mesa Ágil:</strong>
                    Descripción del incidente:
                    <br />
                    <br />
                    <strong class="title-chat">No. de incidente:</strong> {{ Incident_Number }}
                    <br />
                    <strong class="title-chat">Estado:</strong> {{ statusIncidente }}
                    <br />
                    <strong class="title-chat">Descripción:</strong> {{ descripcionIncidente }}
                    <br />
                    <strong class="title-chat">Fecha de creación:</strong> {{ fechaCreacionIncidente | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                  </p>
                  <div class="descripcion-detallada">
                    <strong class="title-chat">Descripción detallada:</strong> {{ descripcionIncidenteDetallada }}
                  </div>
                  <br />
                  <div *ngIf="!fechaNotaInc1" class="loading-dots">Cargando notas...</div>
                  <br />
                  <p *ngIf="datosCargados && (fechaNotaInc1 || fechaNotaInc2 || fechaNotaInc3)" style="margin: 0;">
                    <strong class="title-chat">Notas del Incidente / Solicitud:</strong>
                       <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 2">Fecha de la nota:</strong> {{ fechaNotaInc3 | date:'yyyy-MM-dd HH:mm:ss' }}
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 2">Información:</strong> {{ descriptionInc3 }}
                      <br />
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 1">Fecha de la nota:</strong> {{ fechaNotaInc2 | date:'yyyy-MM-dd HH:mm:ss' }}
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 1">Información:</strong> {{ descriptionInc2 }}
                      <br />
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 0">Fecha de la nota:</strong> {{ fechaNotaInc1 | date:'yyyy-MM-dd HH:mm:ss' }}
                      <br />
                      <strong class="title-chat" *ngIf="this.numeroNotas > 0">Información:</strong> {{ descriptionInc1 }}
                  </p>
                  <br />
                  <button (click)="dialogoCrearNota(statusIncidente)">Agregar Nota</button>
                  <br />
                  <br />
                  <p *ngIf="resolution" style="margin: 0;">
                    <strong class="title-chat">Solución del Incidente / Solicitud:</strong>
                    <br />
                    <strong class="title-chat">Fecha de solución:</strong> {{ fechaResolution | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong class="title-chat">Solución del Incidente / Solicitud:</strong> {{ resolution }}
                    <br />
                  </p>
                </div>

                <div *ngIf="WO_Number" class="chatbot-message anita-message">
                  <p style="margin: 0;"><strong>Mesa Ágil:</strong>
                    Descripción de la solicitud:
                    <br />
                    <br />
                    <strong class="title-chat">No. de incidente:</strong> {{ WO_Number }}
                    <br />
                    <strong class="title-chat" >Estado:</strong> {{ statusIncidente }}
                    <br />
                    <strong class="title-chat" >Descripción:</strong> {{ descripcionIncidente }}
                    <br />
                    <strong class="title-chat" >Fecha de creación:</strong> {{ fechaCreacionIncidente | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                  </p>
                  <div class="descripcion-detallada">
                    <strong class="title-chat">Descripción detallada:</strong> {{ descripcionIncidenteDetallada }}
                  </div>
                  <br />
                  <div *ngIf="!fechaNotaInc1" class="loading-dots">Cargando notas...</div>
                  <br />
                  <p *ngIf="fechaNotaInc1" style="margin: 0;">
                    <strong class="title-chat">Notas del Incidente / Solicitud:</strong>
                    <br />
                    <strong class="title-chat" *ngIf="this.numeroNotas > 2">Fecha de la nota:</strong> {{ fechaNotaInc3 | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong class="title-chat" *ngIf="this.numeroNotas > 2">Información:</strong> {{ descriptionInc3 }}
                    <br />
                    <br />
                    <strong class="title-chat" *ngIf="this.numeroNotas > 1">Fecha de la nota:</strong> {{ fechaNotaInc2 | date:'yyyy-MM-dd HH:mm:ss' }}    
                    <br />
                    <strong class="title-chat" *ngIf="this.numeroNotas > 1">Información:</strong> {{ descriptionInc2 }}
                    <br />
                    <br />
                    <strong class="title-chat" *ngIf="this.numeroNotas > 0">Fecha de la nota:</strong> {{ fechaNotaInc1 | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong class="title-chat" *ngIf="this.numeroNotas > 0">Información:</strong> {{ descriptionInc1 }}
                  </p>
                  <br />
                  <button (click)="dialogoCrearNota(statusIncidente)">Agregar Nota</button>
                  <br />
                  <br />
                  <p *ngIf="resolution" style="margin: 0;">
                    <strong class="title-chat">Solución del Incidente / Solicitud:</strong>
                    <br />
                    <strong class="title-chat">Fecha de solución:</strong> {{ fechaResolution | date:'yyyy-MM-dd HH:mm:ss' }}
                    <br />
                    <strong class="title-chat">Solución del Incidente / Solicitud:</strong> {{ resolution }}
                    <br />
                  </p>
                </div>
               
              </div>

              <!-- Mensaje 7 Anita (Si se selecciona hisotico Casos)-->
              <div *ngIf="noReq1" class="chatbot-message anita-message">
                <p style="margin: 0;"><strong>Mesa Ágil:</strong>
                  <br />
                  <strong class="title-chat">No. del requerimiento:</strong> {{ noReq1 }}
                  <br />
                  <strong class="title-chat">No. de incidente / solicitud:</strong> {{ noInc1 }}
                  <br />
                  <strong class="title-chat">Estado:</strong> {{ statusInc1 }}
                  <br />
                  <strong class="title-chat">Resumen del requerimiento:</strong> {{ sumarryInc1 }}
                  <br />
                  <strong class="title-chat">Fecha de creación:</strong> {{ fechaInc1 | date:'yyyy-MM-dd HH:mm:ss' }}
                  <br />
                </p>
                <br />
                <p style="margin: 0;">
                  <br />
                  <strong class="title-chat">No. del requerimiento:</strong> {{ noReq2 }}
                  <br />
                  <strong class="title-chat">No. de incidente / solicitud:</strong> {{ noInc2 }}
                  <br />
                  <strong class="title-chat">Estado:</strong> {{ statusInc2 }}
                  <br />
                  <strong class="title-chat">Resumen del requerimiento:</strong> {{ sumarryInc2 }}
                  <br />
                  <strong class="title-chat">Fecha de creación:</strong> {{ fechaInc2 | date:'yyyy-MM-dd HH:mm:ss' }}
                  <br />
                </p>
                <br />
                <p style="margin: 0;">
                  <br />
                  <strong class="title-chat">No. del requerimiento:</strong> {{ noReq3 }}
                  <br />
                  <strong class="title-chat">No. de incidente / solicitud:</strong> {{ noInc3 }}
                  <br />
                  <strong class="title-chat">Estado:</strong> {{ statusInc3 }}
                  <br />
                  <strong class="title-chat">Resumen del requerimiento:</strong> {{ sumarryInc3 }}
                  <br />
                  <strong class="title-chat">Fecha de creación:</strong> {{ fechaInc3 | date:'yyyy-MM-dd HH:mm:ss' }}
                  <br />
                </p>
                <br />
                <p style="margin: 0;">
                  <br />
                  <strong class="title-chat">No. del requerimiento:</strong> {{ noReq4 }}
                  <br />
                  <strong class="title-chat">No. de incidente / solicitud:</strong> {{ noInc4 }}
                  <br />
                  <strong class="title-chat">Estado:</strong> {{ statusInc4 }}
                  <br />
                  <strong class="title-chat">Resumen del requerimiento:</strong> {{ sumarryInc4 }}
                  <br />
                  <strong class="title-chat">Fecha de creación:</strong> {{ fechaInc4 | date:'yyyy-MM-dd HH:mm:ss' }}
                  <br />
                </p>
                <br />
                <p style="margin: 0;">
                  <br />
                  <strong class="title-chat">No. del requerimiento:</strong> {{ noReq5 }}
                  <br />
                  <strong class="title-chat">No. de incidente / solicitud:</strong> {{ noInc5 }}
                  <br />
                  <strong class="title-chat">Estado:</strong> {{ statusInc5 }}
                  <br />
                  <strong class="title-chat">Resumen del requerimiento:</strong> {{ sumarryInc5 }}
                  <br />
                  <strong class="title-chat">Fecha de creación:</strong> {{ fechaInc5 | date:'yyyy-MM-dd HH:mm:ss' }}
                  <br />
                </p>
                <br />
              </div>

              <div *ngIf="messageError" class="chatbot-message anita-message">
                <p style="margin: 0;"><strong>Mesa Ágil:</strong>
                  {{ messageError }}
                </p>
              </div>

              <div *ngIf="calificacion" class="chatbot-message anita-message">
                <p style="margin: 0;"><strong>Mesa Ágil:</strong>
                  {{ calificacion }}
                </p>
              </div>

              <!-- Mensaje 8 Anita (Si se selecciona crear Nota)-->
              <div class="chatbot-message anita-message" *ngIf="crearNota">
                <p style="margin: 0;"><strong>Mesa Ágil:</strong> Ingresa la descripción de la nota que quieres agregar
                  al
                  caso.
                  <br />
                  <br />
                  <strong class="title-chat">
                    Nota:
                  </strong> 
                  Si quieres añadir un archivo adjunto, primero selecciona el archivo y luego, ingresa la
                  descripción de la nota.
                </p>
                <br />
                <div>
                  <label for="fileInput">Seleccionar archivo:</label>
                  <input type="file" id="fileInput" (change)="onFileSelected($event)"
                    accept=".eml,.msg,.xlsx,.xls,.doc,.docx,.ppt,.pptx,.txt,.pdf,image/*">
                </div>
              </div>

              <!-- Mensaje 9 Anita (Nota creada con exito)-->
              <div class="chatbot-message anita-message" *ngIf="creadoExitoso">
                <p style="margin: 0;"><strong>Mesa Ágil:</strong> {{ creadoExitoso }}</p>
              </div>
              <div class="button-container">
                <button class="chatbot-return-button" *ngIf="Request_Number || Incident_Number || WO_Number || noReq1 || messageError || messageErrorWO || selectHc" (click)="resetChat()">
                  Volver
                </button>
                <button class="chatbot-return-button" [attr.disabled]="likeDisable ? true : null" *ngIf="Request_Number || Incident_Number || WO_Number || noReq1 || messageError || messageErrorWO || selectHc" (click)="like()">
                  👍
                </button>
                <button  class="chatbot-return-button" [attr.disabled]="likeDisable ? true : null" *ngIf="Request_Number || Incident_Number || WO_Number || noReq1 || messageError || messageErrorWO || selectHc" (click)="noLike()">
                  👎
                </button>
              </div>
              
                <br />
            </div>
          </div>
        </div>

        <!-- input inicial -->
        <div class="chatbot-input-container" *ngIf="mostrarChat" >
          <div>
            <input disabled type="text" placeholder="" class="chatbot-input">
          </div>
        </div>

        <!-- input si selecciona REQ requerimiento -->
        <form [formGroup]="numberRequerimiento" (ngSubmit)="consultarReq()" >
          <div *ngIf="selectReq && mostrarChat && !crearNota" class="chatbot-input-container">
            <div class="chatbot-input-wrapper">
              <input 
              [attr.disabled]="ocultarInputReq ? true : null" 
              type="text" 
              [(ngModel)]="numeroRequerimiento"
              [attr.placeholder]="ocultarInputReq ? null : 'Escribe el número de REQ - Requerimiento...'"
              class="chatbot-input"
              formControlName="reqNumber">
            <button *ngIf="!ocultarInputReq" class="chatbot-send-button" type="submit">➤</button>
            </div>
          </div>
        </form>

        <!-- input si selecciona INC  -->
        <form [formGroup]="numberINC" (ngSubmit)="consultarInc()"  >
          <div *ngIf="selectInc && mostrarChat && !crearNota" class="chatbot-input-container">
            <div class="chatbot-input-wrapper">
              <input
                [attr.disabled]="ocultarInputInc ? true : null" 
                type="text" [(ngModel)]="numeroI" 
                [attr.placeholder]="ocultarInputInc ? null : 'Escribe el número de INC - Incidente...'"
                class="chatbot-input" 
                formControlName="incNumber">
              <button *ngIf="!ocultarInputInc" class="chatbot-send-button" type="submit">➤</button>
            </div>
          </div>
        </form>

        <!-- input si selecciona WO  -->
        <form [formGroup]="numberWO" (ngSubmit)="consultarWo()"  >
          <div *ngIf="selectWo && mostrarChat && !crearNota" class="chatbot-input-container">
            <div class="chatbot-input-wrapper">
              <input 
              [attr.disabled]="ocultarInputWo ? true : null"
              type="text" [(ngModel)]="numeroW" 
              [attr.placeholder]="ocultarInputWo ? null : 'Escribe el número de WO - Orden de trabajo...'"
               class="chatbot-input" 
               formControlName="woNumber">
              <button *ngIf="!ocultarInputWo" class="chatbot-send-button" type="submit">➤</button>
            </div>
          </div>
        </form>

        <!-- input si selecciona Crear Notas con Req -->
        <form *ngIf="Request_Number" [formGroup]="CrearNotas" (ngSubmit)="agregarNota(AppRequestID)"  >
          <div *ngIf="crearNota && Request_Number" class="chatbot-input-container">
            <div class="chatbot-input-wrapper">
              <input 
              [attr.disabled]="ocultarInputNotas ? true : null"
              type="text" [(ngModel)]="detailedDescriptionCrearNotas"
              [attr.placeholder]="ocultarInputNotas ? null : 'Ingresa la descripción de la nota que quieres agregar al caso...'"
              class="chatbot-input"
              formControlName="reqNumber">
              <button *ngIf="!ocultarInputNotas" class="chatbot-send-button" type="submit">➤</button>
            </div>
          </div>
        </form>

        <!-- input si selecciona Crear Notas con INC -->
        <form *ngIf="Incident_Number && crearNota" [formGroup]="CrearNotas" (ngSubmit)="agregarNota(Incident_Number)" >
          <div *ngIf="crearNota" class="chatbot-input-container">
            <div class="chatbot-input-wrapper">
              <input 
              [attr.disabled]="ocultarInputNotas ? true : null"
              type="text"
              [(ngModel)]="detailedDescriptionCrearNotas"
              [attr.placeholder]="ocultarInputNotas ? null :' Ingresa la descripción de la nota que quieres agregar al caso...'" 
              class="chatbot-input"
              formControlName="reqNumber">
              <button *ngIf="!ocultarInputNotas" class="chatbot-send-button" type="submit">➤</button>
            </div>
          </div>
        </form>

        <!-- input si selecciona Crear Notas con WO -->
        <form *ngIf="WO_Number && crearNota" [formGroup]="CrearNotas" (ngSubmit)="agregarNota(WO_Number)" >
          <div *ngIf="crearNota" class="chatbot-input-container">
            <div class="chatbot-input-wrapper">
              <input 
              [attr.disabled]="ocultarInputNotas ? true : null"
              type="text" [(ngModel)]="detailedDescriptionCrearNotas"
              [attr.placeholder]="ocultarInputNotas ? null :' Ingresa la descripción de la nota que quieres agregar al caso...'" 
              class="chatbot-input"
              formControlName="reqNumber">
              <button *ngIf="!ocultarInputNotas" class="chatbot-send-button" type="submit">➤</button>
            </div>
          </div>
        </form>

      </div>

      <!-- <div class="chatbot-container-minimize" *ngIf="mostrarChat && chatMinimizado"> 
        <!-- Header cuando se minimiza 
        <div #header class="chatbot-header-minimize">
          <h2 class="chatbot-title"> &nbsp; Mesa Ágil</h2>
          <button class="chatbot-maximize-btn" (click)="toggleMinimizar()">+</button>
          <button class="chatbot-close-btn" (click)="cerrarChatInHouse()">X</button>
        </div> 
      </div> -->

</div>


    <!-- Fin Chatbot -->
    <div class="col-md-8 col-12 align-self-center text-right pr-4 d-none d-md-block">
      <div *ngIf="esContingenciaChatbot" class="btnencuestas d-inline-block ml-2" accesskey="y"
        (click)="abrirChatInHouse();">
        Mesa Ágil
        <img src="./assets/img/home/icn-consultar-caso.png" class="logo-consulta" alt="" />
      </div>
      <div class="btnencuestas d-inline-block ml-2" (click)="getSurveys()" accesskey="y"
        *ngIf="!infoUser.esContingencia">
        Encuestas
        <img src="./assets/img/home/icn-encuentas.png" class="ml-2" alt="" />
      </div>
      <span class="ml-4">{{ infoUser.First_Name }} {{ infoUser.Last_Name }}</span>
      <img src="./assets/img/home/icn-cerrar-sesi-n.png" (click)="cerrarsesion()" class="ml-2 cpointer" alt=""
        accesskey="c" />
    </div>
    <div class="col-12">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-md-5 col-12 d-none d-md-block pl-0">
            <div style="height: auto" *ngIf="avatars.length != 0">
              <ngb-carousel [interval]="infoUser.AvatarTime">
                <ng-template *ngFor="let item of avatars" ngbSlide>
                  <div class="picsum-img-wrapper">
                    <img src="{{ item.imagen }}" class="img-fluid" style="width: 470px !important; object-fit: cover" />
                  </div>
                </ng-template>
              </ngb-carousel>
            </div>
            <div style="height: auto" *ngIf="avatars.length == 0">
              <div uib-carousel active="active" no-wrap="noWrapSlides">
                <div uib-slide index="0">
                  <img src="./assets/img/home/img-home.png" class="img-fluid" alt=""
                    style="width: 470px !important; object-fit: cover" />
                </div>
              </div>
            </div>

            <div class="derechos col-12 text-center p-2" style="z-index: -1; background-color: #da1024">
              <br />
            </div>
          </div>
          <div class="derechos col-md-7 col-12 text-center p-2 d-none d-md-block"
            style="z-index: -1; background-color: #da1024">
            Claro Colombia 2024. Todos los derechos reservados
          </div>
          <div class="col-md-7 col-12 mt-5">
            <div class="container-fluid p-0">
              <div class="row">
                <div class="col-md-7 offset-md-1 text-center d-none d-md-block" style="font-weight: 500">
                  <p class="m-0 title-home">
                    Las herramientas de gestión de la mesa de servicios
                  </p>
                  <p class="title-red mb-4">MÁS CERCA DE TI</p>
                </div>
                <div class="col-md-7 offset-md-1 mt-4 mb-4">
                  <div class="container-fluid">
                    <div class="row justify-content-around">
                      <div class="col-md-5 p10 col-10 box-my text-center cpointer" (click)="open(mymodal)"
                        accesskey="i">
                        <img src="./assets/img/home/img-pcdesktop.png" alt="" style="width: 100px" />
                        <p class="font-weight-bold my-1">
                          My<span style="color: #dc3545">IT</span>
                        </p>
                        <p class="mt-2">
                          Con MyIT reporta tus casos de manera sencilla. Registra y
                          consulta tus casos asociados a servicios de IT.
                        </p>
                      </div>
                      <div class="col-md-5 p10 col-10 box-my text-center mt-3 mt-md-0 cpointer"
                        (click)="open(mymodalStore)" accesskey="s">
                        <img src="./assets/img/home/icon-store.png" alt="" style="width: 100px" />
                        <p class="font-weight-bold my-1">
                          MyIT <span style="color: #dc3545">Store</span>
                        </p>
                        <p class="mt-2">
                          Ingresa a la tienda desde un navegador Internet Explorer.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>