::ng-deep ngb-modal-backdrop {
  z-index: 999 !important;

}

::ng-deep ngb-modal-window {
  z-index: 999 !important;

}

.no-indicators .carousel-indicators {
  display: none;
}

.siteloader {
  height: 500px !important;
}

.embed-responsive {
  position: static !important;
}

.cuadro-flotante {
  position: fixed;
  background-color: white;
  border: 2px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  /* Incluye el borde y el relleno en las dimensiones */
  transition: all 0.3s ease;
  /* Agrega una transición suave para cambios en tamaño y posición */
}

.descripcion-detallada {
  white-space: pre-line;
}

.chatbot-container {
  right: 25px;
  top: 22%;
  position: fixed;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 15px 15px 0 0;
  padding: 0px;
  width: 48%;
  height: 65%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  max-width: 550px;
}

.chatbot-header {
  margin-bottom: 10px;
  background-color: #da1024;
  color: #ffffff;
  padding: 15px;
  display: flex;
  justify-content: flex-end; /* Alinea los elementos hacia la derecha */
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.chatbot-title {
  margin: 0;
  font-size: 1.5rem;
  flex-grow: 1; /* Esto asegura que el título ocupe el espacio restante */
}

.chatbot-close-btn,
.chatbot-minize-btn,
.chatbot-maximize-btn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.chatbot-close-btn {
  font-size: 1.3rem;
}

.chatbot-minize-btn {
  font-size: 2rem;
  margin-left: 10px; /* Espacio entre los botones */
}


.chatbot-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 70px);
  overflow-y: auto;
  padding-right: 10px;
}

.chatbot-messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.chatbot-message {
  background-color: #f4f4f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.95rem;
}

.anita-message {
  position: relative;
  background-color: #878787;
  color: #ffffff;
  text-align: left;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 50px 10px 10px;
  /* Ajusta para espacio */
}

.anita-message::after {
  content: "";
  position: absolute;
  top: 20px;
  /* Ajusta la posición vertical */
  left: -9px;
  /* Ajusta la posición horizontal */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  /* Triángulo hacia la izquierda */
  border-color: transparent #878787 transparent transparent;
}

.user-message {
  position: relative;
  background-color: #da1024;
  color: #ffffff;
  text-align: left;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 10px 10px 50px;
  /* Ajusta para espacio */
}

.user-message::after {
  content: "";
  position: absolute;
  top: 20px;
  /* Ajusta la posición vertical */
  right: -9px;
  /* Ajusta la posición horizontal */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 10px;
  /* Triángulo hacia la derecha */
  border-color: transparent transparent transparent #da1024;
}


.chatbot-option {
  color: #00edff;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.chatbot-option:hover {
  color: #007a83;
  transform: translateX(3px);
}

.chatbot-link {
  text-decoration: underline;
  color: #00edff;
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.chatbot-link:hover {
  color: #007a83;
  transform: translateX(3px);
}


.chatbot-input-container {
  right: 25px;
  top: 86%;
  position: fixed;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  width: 48%;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  max-width: 550px;
}

.chatbot-input {
  width: 100%;
  height: 50px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 20px;
  outline: none;
}

.chatbot-input:focus {
  border-color: #da1024;
  box-shadow: 0 0 5px rgba(218, 16, 36, 0.5);
}

.chatbot-input-wrapper {
  display: flex;
  align-items: center;
}

.chatbot-send-button {
  background-color: #da1024;
  color: white;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 10px;
  cursor: pointer;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.chatbot-send-button:hover {
  background-color: #b80e1f;
}

.chatbot-send-button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(218, 16, 36, 0.5);
}

.chatbot-return-button {
  background-color: #f81d33;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  height: 51px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .3s ease;
}

.validar-container {
  /* font-family: Arial, sans-serif; */
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 13px;
  padding: 35px;
  box-shadow: 0 4px 8px #0000001a;
  max-width: 400px;
  margin: auto;
  text-align: center;
  position: fixed;
  left: 37%;
  top: 37%;
}


.validar-header {
  font-size: 1.125em;
  font-weight: 400;
  color: inherit;
}

.validar-header button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.validar-header button:hover {
  background-color: #b32534;
  /* Efecto hover más oscuro */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.validar-header button:active {
  background-color: #3e8e41;
  transform: translateY(1px);
}

.logo-consulta {
  width: 42px;
  max-width: 42px;
}

.title-chat {
  color: #e5e6eb;
}

.chatbot-container-minimize {
  right: 20px;
  top: 80%;
  position: fixed;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 15px 61px 0 0;
  padding: -10px;
  width: 18%;
  height: 9%;
}

.chatbot-maximize-btn {
  
  font-size: 2rem;
  margin-left: 4px;
  margin-top: -6px;
}

.chatbot-header-minimize {
  margin-bottom: 10px;
  background-color: #da1024;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}