.contain-myit {
    width        : 100%;
    padding-right: 15px;
    padding-left : 15px;
    margin-right : auto;
    margin-left  : auto;
}

.row {
    display      : -ms-flexbox;
    display      : flex;
    -ms-flex-wrap: wrap;
    flex-wrap    : wrap;
    margin-right : -15px;
    margin-left  : -15px;
}

body {
    margin          : 0;
    font-family     : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size       : 0.9rem;
    font-weight     : 500;
    line-height     : 1.2;
    color           : #212529;
    text-align      : left;
    background-color: #fff;
    background-image:  url("../../img/backgroud.png");
    background-repeat:no-repeat;
    background-size:cover;
   
}

.imagenlogin {
    background-image   : url("../../img/login/img-login.png");
    height             : 100vh;
    background-position: top;
    background-size    : contain;
    background-repeat  : no-repeat;
}

.formlogin {
    background-image   : url("../../img/login/img-back.png");
    height             : 100vh;
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.formlogin input {
    padding         : 15px;
    border-radius   : 5px;
    box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border          : 0;
    width           : 100%;
}

.formlogin button {
    border-radius   : 5px;
    box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #dc3545;
    border          : 0;
    color           : #ffffff;
    font-weight     : 500;
    padding         : 12px;
    width           : 100%;
}

.imagenestadisticas {
    background-image   : url("../../img/estadisticas/img-estad-sticas.png");
    height             : 100vh;
    background-position: top left;
    background-size    : auto;
    background-repeat  : no-repeat;
}

.contain-home {
    background-image   : url("../../img/home/icn-back-gris.png");
    background-position: center;
    background-size    : cover;
    background-repeat  : no-repeat;
}

.btnencuestas {
    padding         : 10px 25px;
    border-radius   : 20px;
    box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border          : 0;
    cursor          : pointer;
}

.btnoption {
    padding         : 10px 15px;
    border-radius   : 15px;
    box-shadow      : 2px 3px 3px 2px rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border          : 1px solid grey;
    cursor          : pointer;
    display         : inline-flex;
    align-content   : center;
    align-items     : center;
    align-self      : center;
    justify-content : center;
    justify-items   : center;
    justify-self    : center;
}


.box-my {
    border-radius   : 20px;
    box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    padding         : 15px 45px;
}

.title-red {
    font-weight: 900;
    color      : #db3444;
    font-size  : 45px;
    line-height: 45px;
}

.title-home {
    font-size: 18px;
}

.derechos {
    position        : absolute;
    background-color: #da1024;
    color           : #ffffff;
    bottom          : 0;
    right           : 0;
}

.box-head {
    padding   : 10px 25px;
    box-shadow: 5px 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.filterestadisticas {
    padding: 10px;
}

.filterestadisticas select {
    padding         : 15px 12px;
    border-radius   : 5px;
    box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border          : 0;
    /* width        : 20%;*/
}

.filterestadisticas button {
    padding         : 15px 20px;
    border-radius   : 5px;
    box-shadow      : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    color           : #ffffff;
    background-color: #dc3545;
    border          : 0;
}

.box-estadisticas {
    padding      : 25px;
    border-radius: 20px;
    box-shadow   : 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height       : 100%;
}

.title-estadistica {
    color      : #dc3545;
    font-size  : 25px;
    font-weight: 500;
}

.dato-estadistica {
    font-size  : 10vh;
    font-weight: 500;
}

.menu {
    padding         : 0;
    background-color: #ffffff;
    z-index         : 1;
}

.item-menu {
    border-bottom: solid 1px #e6e6e6;
    padding      : 18px 10px;
    text-align   : right;
}
.p4{
    padding      : 4px !important;
}
.p5{
    padding      : 5px !important;
}
.p10{
    padding      : 10px !important;
}
.fwb{
    font-weight  : bold !important;
}
.cpointer{
    cursor: pointer !important;
}

.float{
	position:fixed;
	width:220px;
	height:75px;
	top:280px;
	right: 25px;
        z-index: 999;    
	text-align:center;
}

.my-float{
	margin-top:22px;
}
.mt-4{
    margin-top: 4px;
}

.carousel-item > .text-center{
  text-align: left !important;  
}

 .carousel-control-next-icon,carousel-control-prev-icon {
    height: 0px !important;
    width: 0px !important;
    display: none !important;
}


.force-scroll{
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
        
}


