<div class="row">
    <div class="col-12 col-md-3 imagenestadisticas d-none d-md-block">
    </div>
    <div class="col-12 col-md-3 d-block d-md-none p-0">
        <img src="img/estadisticas/IMG_Banner Estadísticas_Responsive.png" class="w-100" alt="" srcset="">
    </div>
    <div class="col-12 col-md-9">
        <div class="row justify-content-between box-head d-none d-md-flex">
            <div class="col-auto">
                <div class="btnencuestas d-inline-block"> <img src="img/estadisticas/icn-ir-a-inicio.png" class="mr-2" alt=""> Ir a inicio </div>
            </div>
            <div class="col-md-auto col-12">
                <div class="btnencuestas d-inline-block"> Encuestas <img src="img/home/icn-encuentas.png" class="ml-2" alt=""></div>
                <span class="ml-4">Nombre Usuario</span>
                <img src="img/home/icn-cerrar-sesi-n.png" class="ml-2" alt="">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 filterestadisticas">
                <select class="col-12 col-md-3" name="" id="" class="mr-2">
                    <option value="" selected>Selecciona aplicación</option>
                </select>
                <select class="col-12 col-md-3 mt-3 mt-md-0" name="" id="">
                    <option value="" selected>Selecciona periodicidad</option>
                </select>
                <button class="float-right d-none d-md-block">Descargar CSV</button>
            </div>
        </div>
        <hr class="d-block d-md-none">
        <div class="row mt-3">
            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <div class="box-estadisticas">
                    <p class="title-estadistica mb-0">No de visitas</p>
                    <p class="dato-estadistica mb-0 text-center">00000</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <div class="box-estadisticas">
                    <p class="title-estadistica mb-0">Duración promedio de visitas</p>
                    <p class="dato-estadistica mb-0 text-center">00:00</p>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-3 mt-md-0">
                <div class="box-estadisticas">
                    <p class="title-estadistica mb-0">Opción más vista (pestaña)</p>
                    <p class="dato-estadistica mb-0 text-center">MyIT</p>
                </div>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-12 col-md-8 box-estadisticas">
                <p class="title-estadistica mb-0">Número de ingresos efectivos a cada aplicación</p>
                <hr>
                <p class="mb-0">Chatbot <span class="float-right">0000000</span></p>
                <p class="mb-0">MyIT <span class="float-right">0000000</span></p>
                <p class="mb-0">MyStore <span class="float-right">0000000</span></p>
            </div>
        </div>
    </div>
</div>