<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 box-my rounded-0">
            <div class="containerHeader d-flex justify-content-between px-0 py-2 px-md-5 py-md-4">
                <div class="containerImage">
                    <img src="img/home/icn-logo-my-it.png" alt="img-fluid" style="height: 60px;" alt="">
                </div>
                <div class="containerLink d-flex justify-content-center align-items-center">
                    <a ng-show="activeRouteLC" ui-sref="listaCasos" class="title-estadistica text-right text-md-center" style="text-decoration: none;">Lista de casos</a>
                    <a ng-show="!activeRouteLC" ui-sref="home" class="title-estadistica text-right text-md-center" style="text-decoration: none;">Volver</a>
                </div>
            </div>
        </div>
    </div>  
</div>
