<div ng-include="'view/headerCasos.html'" ng-controller="headerCtrl"></div>

<div class="container-fluid paddingX mt-5" block-ui="screenBlockUI">
    <div class="row">
        <div class="col-xl-8 col-lg-6 col-md-12">
            <h3 class="titleRegister">
                Creación de casos
            </h3>
            <p class="subTitleRegister">
                Realiza el registro de tus casos rapidamente
            </p>
        </div>

    </div>

    <div class="row">
        <div class="col-12">
            <form class="formCasos" ng-submit="modalValidateSubmitCase(2)" name="form">
                <div class="form-group row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Nombre<strong>*</strong></label>
                        <input type="text" ng-model="infoTicket.nombre" required="true">
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Usuario de red<strong>*</strong></label>
                        <input type="text" ng-model="infoTicket.usuario" ng-disabled="{{!infoUser.esResolutor}}" required="true">
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Teléfono<strong>*</strong></label>
                        <input type="number" ng-model="infoTicket.telefono" required="true">
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Correo Cliente<strong>*</strong></label>
                        <input type="text" ng-model="infoTicket.correo" required="true">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Sede<strong>*</strong></label>
                        <select name="sedes" id="sedes" ng-model="infoTicket.sede" required="true">
                            <option value="{{sede.sede}}" ng-repeat="sede in sedes" ng-if="(sede |        json) !=        '{}'">{{sede.sede}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Línea de servicio<strong>*</strong></label>
                        <select name="servicios" id="servicios" ng-model="infoTicket.lineaServicio" ng-change="changeServiceLine(infoTicket.lineaServicio)" required="true">
                            <option value="{{linea.lineaServicio}}" ng-repeat="linea in lineasServicios" ng-if="(linea |        json) !=        '{}'">{{linea.lineaServicio}}</option>
                        </select>
                        <!--                        <input type="text" ng-model="infoTicket.lineaServicio" required="true">-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Servicio<strong ng-show="servicios.length > 0">*</strong></label>
                        <select name="servicios" id="servicios" ng-model="infoTicket.servicio" ng-change="changeServicio(infoTicket.servicio, infoTicket.lineaServicio)" required="{{servicios.length > 0}}">
                            <option value="{{servicio.servicio}}" ng-repeat="servicio in servicios" ng-if="(servicio |        json) !=        '{}'">{{servicio.servicio}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Aplicación<strong>*</strong></label>
                        <select name="aplicacion" id="aplicacion"  ng-model="infoTicket.aplicacion" required="true" ng-change="setRequisites(infoTicket.aplicacion, infoTicket.servicio, infoTicket.lineaServicio)">
                            <option value="{{aplicacion.aplicacion}}" ng-repeat="aplicacion in aplicaciones"  ng-if="(aplicacion |        json) !=        '{}'">{{aplicacion.aplicacion}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Tipo operación<strong>*</strong></label>
                        <select name="aplicacion" id="aplicacion"  ng-model="infoTicket.tipoOperacion" required="true">
                            <option value="{{operacion.tipo}}" ng-repeat="operacion in tipos.operaciones"  ng-if="(operacion |        json) !=        '{}'">{{operacion.tipo}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Tipo de falla/Solicitud<strong>*</strong></label>
                        <select name="aplicacion" id="aplicacion"  ng-model="infoTicket.tipoFalla" required="true" ng-change="getUrgencias(infoTicket)">
                            <option value="{{falla.tipoFalla}}" ng-repeat="falla in tipos.fallas"  ng-if="(falla |        json) !=        '{}'">{{falla.tipoFalla}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Tipo de Cliente<strong>*</strong></label>
                        <select name="aplicacion" id="aplicacion"  ng-model="infoTicket.tipoCliente" required="true">
                            <option value="{{cliente.tipo}}" ng-repeat="cliente in tipos.usuarios"  ng-if="(cliente |        json) !=        '{}'">{{cliente.tipo}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" ng-if="infoTicket.servicio == 'Soporte'">
                        <label for="" class="col-sm-12 col-form-label pl-0">Fecha y hora de la falla<strong>*</strong></label>
                        <input type="datetime-local" id="start" name="trip-start" ng-model="infoTicket.date" class="form-control" ng-required="{{infoTicket.servicio == 'Soporte'}}">
                    </div>

                </div>

                <div class="form-group row" ng-if="infoTicket.servicio == 'Soporte'">
                    <div class="col-lg-3 col-md-6 col-12" >
                        <label for="" class="col-sm-12 col-form-label pl-0">Impacto<strong>*</strong></label>
                        <select name="aplicacion" id="aplicacion"  ng-model="infoTicket.impacto" ng-required="{{infoTicket.servicio == 'Soporte'}}">
                            <option value="{{impacto.id}}" ng-repeat="impacto in tipos.impactos"  ng-if="(impacto |        json) !=        '{}'">{{impacto.detalle}}</option>
                        </select>
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" >
                        <label for="" class="col-sm-12 col-form-label pl-0">Urgencia<strong>*</strong></label>
                        <select name="aplicacion" id="aplicacion"  ng-model="infoTicket.urgencia" ng-required="{{infoTicket.servicio == 'Soporte'}}">
                            <option value="{{urgencia.id}}" ng-repeat="urgencia in urgencias"  ng-if="(urgencia |        json) !=        '{}'">{{urgencia.detalle}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-12 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Pre requisitos</label>
                        <textarea class="form-control"  rows="5" ng-model="infoTicket.requisitos" disabled=""></textarea>
                    </div>

                    <div class="col-lg-12 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Descripción detallada<strong>*</strong></label>
                        <textarea class="form-control"  rows="4" ng-model="infoTicket.descripcion" required="true"></textarea>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Documentos Adjuntos</label>
                        <input type="file" id="documentos" name="file" class="form-control-file" maxnum="5" ng-model="files" selectNgFiles base-sixty-four-input multiple onload="onLoad" maxsize="3072" accept=".eml,.msg,.xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf,image/*">
                    </div>
                </div>

                <div class="form-group row" ng-show="infoTicket.documentos.length >= 1">
                    <div class="col-lg-6 col-md-6 col-12">
                        <div class="box-my d-flex w-100 px-5 py-4" style="border-bottom-right-radius: 0;border-bottom-left-radius: 0;">
                            <div class="w-75">
                                <p class="font-weight-bold m-0">Documentos actuales</p>
                            </div>
                            <div  class="w-25">
                                <p class="font-weight-light m-0 text-center">Eliminar</p>
                            </div>
                        </div>
                        <div class="box-my w-100 px-5 py-0" style=" border-top-left-radius: 0;border-top-right-radius: 0;">
                            <div class="w-100 d-flex py-3" ng-repeat="documento in infoTicket.documentos">
                                <div class="w-75">
                                    <p class="font-weight-light m-0">{{documento.nombre}}</p>
                                </div>
                                <div class="w-25 d-flex align-items-center justify-content-center">
                                    <img src="img/deleteIcon.png" ng-click="deleteDocument($index)" class="deleteIcon" style="cursor: pointer;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-12 pl-5">
                        <input type="checkbox" id="checkFC" style="display: none;" ng-model="checkFinalFC">
                        <label for="checkFC"></label>
                        <span ng-style="{ 'color' : checkFinalFC ? '#dc3545' : 'black' }" style="font-size: 15px;">Soluciones transversales</span>
                    </div>
                </div>

                <div class="form-group row" ng-show="checkFinalFC">
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Nombre del Cliente</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Documento de identidad Cliente</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Gerencia Regional del Requerimiento</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Canal de Atención</label>
                        <input type="text">
                    </div>

                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">Solicitud</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <label for="" class="col-sm-12 col-form-label pl-0">IMEI</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-3 col-md-6 col-12" ng-repeat="info in InfoAdicional">
                        <label for="" class="col-sm-12 col-form-label pl-0">Información Adicional {{info == 1 ? "" : info}}</label>
                        <input type="text">
                    </div>
                    <div class="col-lg-2 col-md-6 col-12 d-flex align-items-end" ng-show="InfoAdicional.length < 12">
                        <button class="buttonCrear w-100 p-2 mt-3" ng-click="addInfoAdicional()" type="button">Agregar informacion adicional</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-12">
                        <button type="submit" class="buttonCrear mr-3" >Crear</button>
                        <button class="buttonCerar" ui-sref="listaCasos">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
